.images {
    display: flex;
    flex-wrap:  wrap;
    margin-top: 20px;
  }
  .images .img,
  .images .pic {
    flex-basis: 31%;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .images .img {
    width: 112px;
    height: 93px;
    background-size: cover;
    margin-right: 10px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .images .img:nth-child(3n) {
    margin-right: 0;
  }
  .images .img span {
    display: none;
    text-transform: capitalize;
    z-index: 2;
  }
   .images .img:hover span {
    display: block;
    color: #fff;
  }
  .images .pic {
    background-color: #F5F7FA;
    align-self: center;
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    color: #848EA1;
    font-size: 12px;
    cursor: pointer;
  }

  .images .pic {
    flex-basis: 100%;
    margin-right: 0;
  }

 